<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wavedev101 - Page</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="grid">
    <h1>Hello dear site reader</h1>
    <p>This is my lil corner on the internet i'll update more soon</p>
    <button class="btn" hx-get="/about.html"    hx-target="body">about</button>
    <button class="btn" hx-get="/log.html" hx-target="#logcon">Site info</button>
    <div id="logcon" class="container"></div>
</body>
</html>